<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="help_page">
<% end %>
<% content_for :heading do %>
  <h1>Info</h1>
<% end %>
INFO

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "info"} %>