<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="help_page">
<% end %>
<% content_for :heading do %>
  <h1>Info</h1>
<% end %>
INFO

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "info"} %>

<script type="text/javascript">
  var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
  var channel = pusher.subscribe('test_channel');
  channel.bind('greet', function(data) {
    alert(data.greeting);
  });
</script>