<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="start_page">
<% end %>
<div>
  <p style="text-align: center; ">
    <span style="font-size: xx-large; font-family: 'comic sans ms', sans-serif; color: rgb(51, 102, 255); ">
      <b>
        CATCHUP
      </b>
    </span>
  </p>
</div>
<%= link_to "Try catchup", signup_path, "id" => "sign_up_button", "data-role" => "button", "data-theme" => "b" %>
<%= link_to "Sign in with password", signin_path, "id" => "sign_in_button",  "data-role" => "button", "data-theme" => "c" %>

