<div data-role="page" id="page11">
  <div data-role="content">
    <div>
      <p style="text-align: center; ">
                  <span style="font-size: xx-large; font-family: 'comic sans ms', sans-serif; color: rgb(51, 102, 255); ">
                      <b>
                        CATCHUP
                      </b>
                  </span>
      </p>
    </div>
    <%= link_to "Sign up as guest", "#", "data-role" => "button", "data-theme" => "c" %>

    <%= link_to "Sign up", signup_path, "data-role" => "button", "data-theme" => "b" %>

    <%= link_to "Sign in", "#", "data-role" => "button", "data-theme" => "b" %>
  </div>
</div>