<% content_for :heading do %>
  <div data-role="header" data-theme="a">
    <h1>Catch up</h1>
  </div>
<% end %>
<div>
  <p style="text-align: center; ">
    <span style="font-size: xx-large; font-family: 'comic sans ms', sans-serif; color: rgb(51, 102, 255); ">
      <b>
        NEW CATCHUP
      </b>
    </span>
  </p>
</div>
<div>
  Arround me:
</div>
<div>
  Pending:
</div>

<div>
  <%= link_to "Use contact list", "#", "id" => "",  "data-role" => "button", "data-theme" => "b" %>
  <%= link_to "Enter email", "#", "id" => "",  "data-role" => "button", "data-theme" => "b" %>
</div>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>