<% content_for :heading do %>
  <div data-theme="a" data-role="header">
    <%= link_to "List", user_show_list_path(current_user), "data-icon" => "grid",
                "data-role" => "button", "class" => "ui-btn-right" %>
    <h1>Map </h1>
  </div>
<% end %>
MAP

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "list"} %>