<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="show_list_page">
<% end %>
<% content_for :heading do %>
  <%= link_to "Map", user_show_map_path(current_user), "data-icon" => "grid",
              "data-role" => "button", "class" => "ui-btn-right", "data-ajax" => "false" %>
  <h1>List</h1>
<% end %>
RENCENT MEETINGS:
<div data-role="content">
  <% if @list.any? %>
    <ul data-role="listview" data-inset="true" >
      <% @list.each do |item| %>
        <li>
          <%= link_to item[:user].name, user_meeting_path(current_user, item[:meeting]) %>
        </li>
      <% end %>

    </ul>
  <% end %>
</div>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "list"} %>