<div data-role="page" id="page12">
  <div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" data-transition="none" href="#page11"
       class="ui-btn-left">
      Back
    </a>
    <h3>
      Sign up
    </h3>
  </div>
  <div data-role="content">
    <form action="">
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
          <label for="textinput1">
          </label>
          <input name="" id="textinput1" placeholder="Name *" value="" type="text">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
          <label for="textinput2">
          </label>
          <input name="" id="textinput2" placeholder="Email *" value="" type="email">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
          <legend>
          </legend>
          <input id="radio10" name="" value="radio1" type="radio">
          <label for="radio10">
            Female
          </label>
          <input id="radio11" name="" value="radio11" type="radio">
          <label for="radio11">
            Male
          </label>
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
          <label for="textinput5">
          </label>
          <input name="" id="textinput5" placeholder="Password *" value="" type="password">
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
          <label for="textinput7">
          </label>
          <input name="" id="textinput7" placeholder="Password confirm *" value=""
                 type="password">
        </fieldset>
      </div>
      <a data-role="button"  href="#page1">
        Submit
      </a>
    </form>
  </div>
</div>