.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
#error_explanation {
  color: #f00;
  ul {
    //list-style: none;
    margin: 0 0 18px 0;
  }
}

#alert-success {

}

#alert-error {
  color: #f00;
}
